<div class="bjui-pageHeader">
<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__/jxcinformation" method="post">
	<input type="hidden" name="pageSize" value="{$numPerPage}">
	<input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
	<div class="bjui-searchBar">
		<label>筛选:</label>
		<select name="filter" data-toggle="selectpicker">
		<option value="">全部</option>
		<foreach name="filters" item="v">
			<option value="{$v.id}" <if condition="$v.id EQ $_REQUEST['filter'] ">selected <else/></if> >
			<switch name="v.level"><case value="0"></case><case value="1">—</case><case value="2">——</case><case value="3">———</case><case value="4">————</case><case value="5">—————</case><case value="6">——————</case><case value="7">———————</case><default /></switch>{$v.name}
		</option>
		</foreach>
		</select>
		<label>关键词：</label><input type="text" value="{$_REQUEST['keys']}" name="keys" class="form-control" size="12" />
		<div class="btn-group " role="group">
			<button type="submit" class="btn btn-success" data-icon="search">查询</button>
		</div>
            <!--<a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>-->
		<div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-close" data-icon="close">关闭</button>
			<!--<button type="button" class="btn-blue" data-toggle="lookupback" data-lookupid="ids" data-warn="请至少选择一项" data-icon="check-square-o">选中</button>-->
		</div>
	</div>
</form>
</div>
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-layout-h="0">
        <thead>
            <tr>
				<th data-order-field="id" height="30">ID</th>
				<th data-order-field='mc_id'>商品类别</th>
				<th data-order-field='mi_bh'>商品编号</th>
				<th data-order-field='mi_mc'>商品名称</th>
				<th data-order-field='mi_gg'>规格型号</th>
				<th data-order-field='mi_dw'>单位</th>
				<!--<th width="28"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>-->
				<th width="35" class="textcenter">库存</th>
				<th width="70">操作</th>
            </tr>
        </thead>
        <tbody>
		  <volist name="list" id="v">
            <tr>
             <td>{$v.id}</td>
			 <td>{$v.mc_id|get_table_field=###,'id','name','jxccategory'}</td>
             <td>{$v.mi_bh}</td>
		     <td>{$v.mi_mc} </td>
		     <td>{$v.mi_gg}</td>
		     <td>{$v.mi_dw|get_table_field=###,'id','name','system_tag'}</td>
             <!--<td><input type="checkbox" name="ids" data-toggle="icheck" value="{juid:'{$v.id}', juname:'{$v.truename}'}"></td>-->
		     <td class="textcenter"><button href="javascript:;" data-url="index.php?m=home&c=public&a=jxcwarehouselist&id={$v.id}" data-toggle="dialog" data-id="dialog-jxcwarehouselist" data-mask="true" data-height="400" data-width="550" style="width:100%" data-title="查看库存"><i class="fa fa-search"></i></a></button></td>
             <td><a href="javascript:;" data-toggle="lookupback" data-args="{mc:'{$v.mi_bh} {$v.mi_mc}_规格:{$v.mi_gg}_单位:{$v.mi_dw|get_table_field=###,'id','name','system_tag'}', id:'{$v.id}'}" class="btn btn-blue" title="选择本项" data-icon="check">选择</a>
             </td>
            </tr>
			</volist>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
<div class="pages"><span>共 {$totalCount} 条  每页 {$numPerPage} 条</span></div>
<div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$numPerPage}" data-page-current="{$currentPage}"></div>
</div>