<div class="bjui-pageContent tableContent">
    <div class="pageFormContent" style="margin:1px;" data-layout-h="0">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#jxcpurchase_view_1" role="tab" data-toggle="tab">购货订单</a></li>
            <li><a href='#jxcpurchase_view_2' role='tab' data-toggle='tab'>修改记录</a></li>
        </ul>
        <div class="tab-content">
			<div class="tab-pane fade active in" id="jxcpurchase_view_1">

<div class="row m0"> 
<table class="table table-top" width="100%">
<thead>
<tr height="35"><th>
	<label for="j_form_jxcpurchase_add_mp_ywtype" class="control-label x85">业务类别：</label><span class="font-normal">{$Rs.mp_ywtype|get_table_field=###,'id','name','system_tag'}</span>
</th>
<th>
	<label for="j_form_jxcpurchase_add_ms_id" class="control-label x85">供应商：</label><span class="font-normal">{$Rs.ms_id|get_table_field=###,'id','ms_mc','jxcsuppliers'}</span>
</th>
<th><label for='j_form_jxcpurchase_add_mp_ddrq' class='control-label x85'>单据日期：</label><span class="font-normal">{$Rs.mp_ddrq}</span></th>
<th><label for='j_form_jxcpurchase_add_mp_jhrq' class='control-label x85'>交货日期：</label><span class="font-normal">{$Rs.mp_jhrq}</span></th>
</tr>
</thead>
</table>
    

<!--采购订单开始-->

<table class="table table-bordered table-hover table-striped">
<thead>
<tr>
<th title="No." width="38" height="27">No.</th>
<th title="商品">商品</th>
<th title="仓库" width="100">仓库</th>
<th title="购货单价" width="100">购货单价</th>
<th title="数量" width="80">数量</th>
<th title="金额" width="100">金额</th>
<th title="备注" width="70">备注</th>
</tr>
</thead>
<tbody>{$list}
</tbody>
<thead>
<tr style="height:27px">
<th></th>
<th>合计：</th>
<th></th>
<th></th>
<th>{$Rs.mp_ghsl}</th>
<th>{$Rs.mp_ghje}</th>
<th></th>
</tr>
</thead>
</table>


<!--采购订单结束-->

<table class="table table-top" width="100%">
<tbody><tr><td><div style='display: inline-block; vertical-align: middle; width:100%;'>{$Rs.beizhu|html_out=###}</div></td></tr><tr><td>制单人：{:gettruename()}</td></tr></tbody>
</table>
   

<!--附件开始-->

                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-paperclip"></i> 附件</h3></div>
                    <div class="panel-body">

    {:W('FileUpload/view',array('add_file'=>$Rs['attid']))}

                    </div>
                </div>

<!--附件结束-->
</div>
            
			</div>
            <div class='tab-pane fade lineh20' id='jxcpurchase_view_2'>
            <php>if (strlen($Rs['history']) > 0) {echo html_out($Rs['history']);} else {echo '无修改记录';}</php>
			</div>
		</div>
    </div>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>
