<div class="bjui-pageHeader">
<ul><li>
        <div class="btn-group" role="group">
            <a href="#id_flow_add_title" class="btn btn-success">主题</a>
            <a href="#id_flow_add_flow" class="btn btn-success">流程</a>
            <a href="#id_flow_add_detail" class="btn btn-success">明细</a>
            <neq name="flow_type.is_edit" value="2">
            <a href="#id_flow_add_content" class="btn btn-success">内容</a>
            </neq>
            <a href="#id_flow_add_attachment" class="btn btn-success">附件</a>
        </div>
        <div class="btn-group floatright" role="group">
			<button type="button" class="btn-close" data-icon="close">关闭</button>
        </div>
</li></ul>
</div>

<div class="bjui-pageContent">
    <div style="padding:10px 0px 10px 0px; width:100%;">
        <div class="row" style="padding:0px; margin:0px;">
<form action="" class="" data-toggle="validate" id="form_flow_add" name="form_flow_add">
	<input type="hidden" name="type" value="{$flow_type.id}">
	<input type="hidden" name="opmode" value="add">
	<input type="hidden" id="confirm" name="confirm" value="<?php echo get_flow_type_list($flow_type['confirm']);?>">
	<input type="hidden" id="confirm_name" name="confirm_name" value="">
	<input type="hidden" id="consult" name="consult" value="<?php echo get_flow_type_list($flow_type['consult']);?>">
	<input type="hidden" id="consult_name" name="consult_name" value="">
	<input type="hidden" id="refer" name="refer" value="<?php echo get_flow_type_list($flow_type['refer']);?>">
	<input type="hidden" id="refer_name" name="refer_name" value="">
	<input type="hidden" id="step" name="step" value="">
    <!--2016-06-06 【新增】上传附件参数【开始】-->
	<input type="hidden" name="attid" value="{$attid}">
    <input type="hidden" name="flow_add_MaxNum" id="flow_add_MaxNum" value="10" />
    <input type="hidden" name="flow_add_FileNum" id="flow_add_FileNum" value="0" />
    <!--2016-06-06 【新增】上传附件参数【结束】-->

<!--主题开始-->

    <div class="col-md-12"><a id="id_flow_add_title"></a>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-tasks"></i> 主题</h3></div>
                    <div class="panel-body">

<div class="form-group col-sm-12">
	<label class='control-label col-sm-2'><span class="label label-default">流程项目</span></label>
	<div class="col-sm-10">
	<span class="label label-success">{$flow_type.name}</span> - <span class="label label-info">{$flow_type.doc_no_format}</span>
	</div>
</div>


<div class="form-group col-sm-12">
	<label for='name' class='control-label col-sm-2'><span class="label label-default">流程标题</span></label>
	<div class="col-sm-10">
	<input class="form-control" type="text" id="name" name="name" data-rule="required" value="" style="width:90%;" placeholder="*请输入流程标题" />
	</div>
</div>


                    </div>
                </div>
            </div>
        </div>
    </div>

<!--主题结束-->


<!--流程开始-->

    <div class="col-md-12"><a id="id_flow_add_flow"></a>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-random"></i> 流程</h3></div>
                    <div class="panel-body">


<eq name="flow_type.is_lock" value="0">
<div class="form-group col-sm-12">
<label class='control-label col-sm-2'></label>
	<div class="col-sm-10">
<button type="button" class="btn-green" data-icon="random" data-url="{:U('public/flowselect','id='.$vo['id'].'&type=confirm&au=user')}" data-toggle="lookupbtn" data-group="confirm_select">选择审批流程</button>
<button type="button" class="btn-green" data-icon="random" data-url="{:U('public/flowselect','id='.$vo['id'].'&type=consult&au=user')}" data-toggle="lookupbtn" data-group="confirm_select">选择协商流程</button>
<button type="button" class="btn-green" data-icon="random" data-url="{:U('public/flowselect','id='.$vo['id'].'&type=refer&au=user')}" data-toggle="lookupbtn" data-group="confirm_select">选择抄送流程</button>
	</div>
</div>
</eq>

<div class="form-group col-sm-12">
<label class='control-label col-sm-2'><span class="label label-default">审批流程</span></label>
	<div class="col-sm-10">
<empty name="flow_type.confirm_name">
<span id="confirm_wrap" class="label label-default">无
<else/>
<span id="confirm_wrap" class="label label-primary">{$flow_type.confirm_name}
</empty>
</span>
	</div>
</div>

<div class="form-group col-sm-12">
<label class='control-label col-sm-2'><span class="label label-default">协商流程</span></label>
	<div class="col-sm-10">
<empty name="flow_type.consult_name">
<span id="consult_wrap" class="label label-default">无
<else/>
<span id="consult_wrap" class="label label-primary">{$flow_type.consult_name}
</empty>
</span>
	</div>
</div>

<div class="form-group col-sm-12">
<label class='control-label col-sm-2'><span class="label label-default">抄送流程</span></label>
	<div class="col-sm-10">
<empty name="flow_type.refer_name">
<span id="refer_wrap" class="label label-default">无
<else/>
<span id="refer_wrap" class="label label-primary">{$flow_type.refer_name}
</empty>
</span>
	</div>
</div>


                    </div>
                </div>
            </div>
        </div>
    </div>

<!--流程结束-->


<!--明细开始-->

    <div class="col-md-12"><a id="id_flow_add_detail"></a>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list-alt"></i> 明细</h3></div>
                    <div class="panel-body">

<!--模板内容开始-->
<volist name="field_list" id="field_vo">{:W('UserDefineField/edit',array($field_vo))}</volist>
<!--模板内容结束-->


                    </div>
                </div>
            </div>
        </div>
    </div>

<!--明细结束-->

<!--内容开始-->

<neq name="flow_type.is_edit" value="2">
    <div class="col-md-12"><a id="id_flow_add_content"></a>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list-alt"></i> 内容</h3></div>
                    <div class="panel-body">


	<div class="col-sm-12">
    <div style="width:100%;">
    <textarea data-toggle='kindeditor' class="editor" name="content" style="width:100%;">{$flow_type.content}</textarea>
	</div>
	</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</neq>

<!--内容结束-->

<!--附件开始-->

    <div class="col-md-12"><a id="id_flow_add_attachment"></a>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-paperclip"></i> 附件 <span class="font-normal font12">（允许.jpg.jpeg.png.gif.bmp.mpg.rar.zip.txt.doc.docx.xls.xlsx.pdf.ppt.pptx格式，最大30MB，最多10个）</span> </h3></div>
                    <div class="panel-body">

	{:W('FileUpload/add',array('id'=>'flow_add','attid'=>$attid,'module'=>'Flow'))}

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--附件结束-->

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading" style="height:45px;">
<div class="pull-right">
<button type="button" class="btn-green" data-icon="save" onclick="save_flow_add(10);">临时保存</button>
<button type="button" class="btn-success" data-icon="save" onclick="save_flow_add(20);">提交</button>
<button type="button" class="btn-close" data-icon="close">取消</button>
</div>
                </div>
                </div>
            </div>
        </div>
    </div>

</form>

</div>
</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		$("#confirm span").on("dblclick", function() {
			$("#confirm span").last().find("b").remove();
		});
		$("#consult span").on("dblclick", function() {
			$("#consult span").last().find("b").remove();
		});
	}); 

	function save_flow_add(step){
		window.onbeforeunload=null;
		$("#confirm_name").val($("#confirm_wrap").html());
		$("#consult_name").val($("#consult_wrap").html());
		$("#refer_name").val($("#refer_wrap").html());
		if ($("#confirm").val().length < 2) {
			alert('请选择审批流程');
			return false;
		}
		
		var iflow_add_FileNum = parseInt($("#flow_add_FileNum").val(), 10);
		var iflow_add_MaxNum = parseInt($("#flow_add_MaxNum").val(), 10);
		if (iflow_add_FileNum > iflow_add_MaxNum) {
			alert('上传文件数量最多'+iflow_add_MaxNum+'个');
			return false;
		}
		
		$("#step").val(step);
		//if (check_form("form_flow_add")) {
			sendForm("form_flow_add", "__URL__/add/navTabId/{:CONTROLLER_NAME}");
		//}
	}
	
	/*上传成功*/
	function flow_add_upload_success(file, data) {
		var json = $.parseJSON(data)
		$(this).bjuiajax('ajaxDone', json)
		if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
			$('#j_flow_add_file').val(json.filename).trigger('validate');
			var sLi = '<li id=\"j_flow_add_file_span-' + json.id.toString() + '\" class="tbody">';
			sLi += '<div style="width: 100%;" class="loading"></div>';
			sLi += '<div class="data">';
			sLi += '<span class="del text-center"><a href="javascript:DeleteFile_id_name_reduce(\'j_flow_add_file_span-' + json.id.toString() + '\',\'' + json.id + '\',\'<php>echo(getuserid());</php>\',\'flow_add_FileNum\')" style="display: inline;" class="link del"><i class="fa fa-remove"></i></a></span>';
			sLi += '<span class="size text-right">' + GetFileSize(json.size) + '</span>';
			sLi += '<span class="auto autocut">' + json.filename + '</span></div></li>';
			$('#j_flow_add_file_span').html($('#j_flow_add_file_span').html()+sLi);
			/*上传数量加1*/
			var iflow_add_FileNum = parseInt($("#flow_add_FileNum").val(), 10);
			$("#flow_add_FileNum").val(iflow_add_FileNum + 1);
		}
	}

</script>
