<div class="bjui-pageContent tableContent">
<div style="position:absolute;width:100%;" class="p5">


<!-- nav-tabs 开始 -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="javascript:;" data-url="{:U('index/index_flow')}" role="tab" data-toggle="ajaxtab" data-target="#index_flow" data-reload="true" class="font14"><i class="fa fa-table"></i> {:L('_INDEX_LAYOUT_WorkFlow_')}<!--流程--></a></li>
	<li><a href="javascript:;" data-url="{:U('index/index_task')}" role="tab" data-toggle="ajaxtab" data-target="#index_task" data-reload="true" class="font14"><i class="fa fa-pencil-square-o"></i> {:L('_INDEX_LAYOUT_MyTask_')}<!--任务--></a></li>
	<li><a href="javascript:;" data-url="{:U('index/index_notice')}" role="tab" data-toggle="ajaxtab" data-target="#index_notice" data-reload="true" class="font14"><i class="fa fa-volume-up"></i> {:L('_INDEX_LAYOUT_Notice_')}<!--通知--></a></li>
	<li><a href="javascript:;" data-url="{:U('index/index_document')}" role="tab" data-toggle="ajaxtab" data-target="#index_document" data-reload="true" class="font14"><i class="fa fa-file"></i> {:L('_INDEX_LAYOUT_DocumentView_')}<!--文档--></a></li>
	<li><a href="javascript:;" data-url="{:U('index/index_whereabouts')}" role="tab" data-toggle="ajaxtab" data-target="#index_whereabouts" data-reload="true" class="font14"><i class="fa fa-user-md"></i> {:L('_INDEX_LAYOUT_StaffWhereabouts_')}<!--去向--></a></li>
	<li><a href="javascript:;" onclick="$(this).navtab('refresh', 'main');" class="font14"><i class="fa fa-refresh"></i> {:L('_INDEX_LAYOUT_RefreshHomePage_')}<!--刷新首页--></a></li>
</ul>
<!-- tab-content 开始 -->
<div class="tab-content">
	<div class="tab-pane fade active in" id="index_flow"><!--流程-->
	
    <!--//流程 开始-->
    <div class="w100">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-table"></i> {:L('_INDEX_LAYOUT_ToDoProcess_')}<!--待办的流程--> <a class="pull-right" href="javascript:;" data-url="{:U('flow/confirm')}" data-toggle="navtab" data-id="flow/confirm" data-title="{:L('_INDEX_LAYOUT_ToDoProcess_')}"><i class="fa fa-caret-right"></i> {:L('_INDEX_LAYOUT_Detail_')}</a></h3></div>
			<div style="min-height:185px;">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th height=30>{:L('_INDEX_LAYOUT_Title_')}</th>
                            <th>{:L('_INDEX_LAYOUT_InputPerson_')}</th>
                            <th>{:L('_INDEX_LAYOUT_InputTime_')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list_confirm" id="v">
                        <tr>
                            <td>{$v.name|msubstr=###,0,20}</td>
                            <td>{$v.user_name}</td>
                            <td>{$v.create_time|toDate='Y-m-d'}</td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
          
			</div>
		</div>
	</div>

	<div class="w100">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-table"></i> {:L('_INDEX_LAYOUT_InitiateProcess_')}<!--发起的流程--> <a class="pull-right" href="javascript:;" data-url="{:U('flow/submit')}" data-toggle="navtab" data-id="flow/submit" data-title="{:L('_INDEX_LAYOUT_InitiateProcess_')}"><i class="fa fa-caret-right"></i> {:L('_INDEX_LAYOUT_Detail_')}</a></h3></div>
			<div style="min-height:185px;">
          
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th height=30>{:L('_INDEX_LAYOUT_Title_')}</th>
                            <th>{:L('_INDEX_LAYOUT_InputTime_')}</th>
                            <th>{:L('_INDEX_LAYOUT_Status_')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list_submit" id="v">
                        <tr>
                            <td>{$v.name|msubstr=###,0,20}</td>
                            <td>{$v.create_time|toDate='Y-m-d'}</td>
                            <td>{$v.step|show_step=1}</td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
          
			</div>
		</div>
	</div>
    <!--//流程 结束-->

    </div>
    
    
	<div class="tab-pane fade" id="index_task"><!--任务-->
    loading...
    </div>


	<div class="tab-pane fade" id="index_notice"><!--通知-->
    loading...
    </div>


	<div class="tab-pane fade" id="index_document"><!--文档-->
    loading...
    </div>


	<div class="tab-pane fade" id="index_whereabouts"><!--去向-->
    loading...
    </div>


    
</div>



</div>
</div>
