<div class="bjui-pageContent tableContent">
    <div class="col-md-12">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='xingming_input' class='control-label x85'><span class="label label-default">姓名:</span></label><span class="label label-primary">{$Rs.xingming}</span></td><td><label for='sex_input' class='control-label x85'><span class="label label-default">性别:</span></label>{$Rs.sex}</td></tr>
<tr><td><label for='danwei_input' class='control-label x85'><span class="label label-default">单位:</span></label>{$Rs.danwei}</td><td><label for='zhiwu_input' class='control-label x85'><span class="label label-default">职位:</span></label>{$Rs.zhiwu}</td></tr>
<tr><td><label for='phone_input' class='control-label x85'><span class="label label-default">手机号码:</span></label>{$Rs.phone}</td><td><label for='dianhua_input' class='control-label x85'><span class="label label-default">固定电话:</span></label>{$Rs.dianhua}</td></tr>
<tr><td><label for='email_input' class='control-label x85'><span class="label label-default">电子邮箱:</span></label>{$Rs.email}</td><td><label for='qq_input' class='control-label x85'><span class="label label-default">QQ:</span></label>{$Rs.qq}</td></tr>
<tr><td><label for='fenlei_input' class='control-label x85'><span class="label label-default">分类:</span></label>{$Rs.fenlei}</td><td><label for='shuxing_input' class='control-label x85'><span class="label label-default">属性:</span></label>{$Rs.shuxing}</td></tr>
<tr><td><label for='uname_input' class='control-label x85'><span class="label label-default">添加人员:</span></label>{$Rs.uname}</td><td><label for='addtime_input' class='control-label x85'><span class="label label-default">添加时间:</span></label>{$Rs.addtime}</td></tr>
<tr><td><label for='uuname_input' class='control-label x85'><span class="label label-default">更新人员:</span></label>{$Rs.uuname}</td><td><label for='updatetime_input' class='control-label x85'><span class="label label-default">更新时间:</span></label>{$Rs.updatetime}</td></tr>
<tr><td colspan=2><label for='beizhu_input' class='control-label x85'><span class="label label-default">备注:</span></label></td></tr>
<tr><td colspan=2>{$Rs.beizhu}</td></tr>
           </tbody>
          </table>
    </div>
</div>
<div class="bjui-pageFooter">
<ul>
<li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
</ul>
</div>