<div class="bjui-pageContent tableContent">
    <div class="col-md-12">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
<tr><td colspan=2><label for='juname_input' class='control-label x85'>接收人:</label>{$Rs.juname}</td></tr>
<tr><td><label for='title_input' class='control-label x85'>通知标题:</label>{$Rs.title}</td><td><label for='jzrq_input' class='control-label x85'>截止日期:</label>{$Rs.jzrq}</td></tr>
<tr><td><label for='uname_input' class='control-label x85'>发布人:</label>{$Rs.uname}</td><td><label for='addtime_input' class='control-label x85'>发布时间:</label>{$Rs.addtime}</td></tr>
<tr><td><label for='uuname_input' class='control-label x85'>最后回复:</label>{$Rs.uuname}</td><td><label for='updatetime_input' class='control-label x85'>回复时间:</label>{$Rs.updatetime}</td></tr>
<tr><td colspan=2><label for='value_input' class='control-label x85'>通知内容:</label></div></td></tr>
<tr><td colspan=2>{$Rs.value|html_out}</td></tr>
<tr><td colspan=2><label for='hui_input' class='control-label x85'>回复:</label></td></tr>
<tr><td colspan=2>{$Rs.hui}</td></tr>
           </tbody>
          </table>
    </div>

<!--附件开始-->

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-paperclip"></i> 附件</h3></div>
                    <div class="panel-body">

    {:W('FileUpload/view',array('add_file'=>$Rs['attid']))}

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--附件结束-->


</div>
<div class="bjui-pageFooter">
<ul>
<li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
</ul>
</div>