<div class="bjui-pageHeader">
<form id="pagerForm" data-toggle="ajaxsearch" action="__SELF__" method="post">
	<input type="hidden" name="pageSize" value="{$numPerPage}">
	<input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
	<div class="bjui-searchBar">
    	<label>文件夹：</label>
		<select name="folder" data-toggle="selectpicker">
		<option value="">全部</option>
		<foreach name="system_folder_list" item="v">
		<option value="{$v.id}" <if condition="$v.id EQ $_REQUEST['folder'] ">selected<else/>{$_REQUEST['folder']}</if> >
        <switch name="v.level"><case value="0"></case><case value="1">—</case><case value="2">——</case><case value="3">———</case><case value="4">————</case><case value="5">—————</case><case value="6">——————</case><case value="7">———————</case><default /></switch>{$v.name}</option>
		</foreach>
		</select>
		<label>关键词：</label><input type="text" value="{$_REQUEST['keys']}" name="keys" class="form-control" size="15" />
		<div class="btn-group " role="group">
			<button type="submit" class="btn-success" data-icon="search">查询</button>
			<button type="button" class="btn-orange" data-icon="undo" onclick="$(this).navtab('reloadForm', true);">清空查询</button>
		</div>
		<div class="btn-group floatright" role="group">
			<button type="button" class="btn-green" onclick="$(this).navtab('reloadForm', true);" data-icon="refresh">刷新</button>
			<button type="button" class="btn-close" data-icon="close">关闭</button>
		</div>
	</div> 
</form>
</div>
<div class="bjui-pageContent tableContent">
     <table data-toggle="tablefixed" data-width="100%" data-layout-h="0" data-nowrap="true">
        <thead>
<tr>
<th width="10" height="30"></th>
<th data-order-direction='desc' data-order-field='doc_no'>编号</th>
<th data-order-direction='desc' data-order-field='fenlei'>文件夹</th>
<th>文档名</th>
<th data-order-direction='desc' data-order-field='addtime'>登录时间</th>

<th class="textcenter" width="50" <php>echo display(CONTROLLER_NAME.'/view');</php> >详细</th>

</tr>
        </thead>
        <tbody>

<volist name="list" id="v">
<tr data-id="{$v.id}">
<td></td>
<td>{$v.doc_no|msubstr=###,0,20}</td>
<td>{$v.folder_name}</td>
<td>{$v.name|msubstr=###,0,20}<eq name="v.name|strlen" value="0">无标题</eq></td>
<td>{$v.create_time|toDate='Y-m-d'}</td>

<td class="textcenter" <php>echo display(CONTROLLER_NAME.'/view');</php> ><a href="__URL__/view/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" class="btn btn-green btn-sm" >详细</a></td>

</tr> 
</volist>
          
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
<div class="pages"><span>共 {$totalCount} 条  每页 {$numPerPage} 条</span></div>
<div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$numPerPage}" data-page-current="{$currentPage}"></div>
</div>
