<div class="bjui-pageContent">

<!--文档名开始-->

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list-alt"></i> 文档名</h3></div>
                    <div class="panel-body">

	<div class="form-group col-sm-12">
		<label class="col-sm-2 control-label" ><span class="label label-default">文档名</span></label>
		<div class="col-sm-10">
				{$Rs.name}
		</div>
	</div>
	<div class="form-group col-sm-12">
		<label class="col-sm-2 control-label" ><span class="label label-default">文档编号</span></label>
		<div class="col-sm-10">
				{$Rs.doc_no}
		</div>
	</div>
	<div class="form-group col-sm-12">
		<label class="col-sm-2 control-label" ><span class="label label-default">录入人</span></label>
		<div class="col-sm-10">
				{$Rs.user_name}
		</div>
	</div>
	<div class="form-group col-sm-12">
		<label class="col-sm-2 control-label" ><span class="label label-default">录入日期</span></label>
		<div class="col-sm-10">
				{$Rs.create_time|toDate='Y-m-d H:i:s'}
		</div>
	</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--文档名结束-->

    
<!--内容开始-->

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list-alt"></i> 内容</h3></div>
                    <div class="panel-body">

			<div class="content_wrap" >
				{$Rs.content|htmlspecialchars_decode}
			</div>			

                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--内容结束-->
    

<!--附件开始-->

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-paperclip"></i> 附件</h3></div>
                    <div class="panel-body">

    {:W('FileUpload/view',array('add_file'=>$Rs['attid']))}

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--附件结束-->

</div>


<div class="bjui-pageFooter">
<ul>
<li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
</ul>
</div>