<div class="bjui-pageContent">
<form action="__URL__/edit/navTabId/{$navTabId}" class="pageForm" data-toggle="validate" id="form_system_folder_edit" name="form_system_folder_edit">
	<input type="hidden" name="id" value="{$vo.id}">
	<input type="hidden" name="pid" value="{$vo.pid}">
	<input type="hidden" name="folder" value="{$folder}">
	<input type="hidden" name="opmode" value="edit">

    <table class="table table-condensed table-hover" width="100%">
	<tbody>
		<tr><td>
		<label for="j_form_system_folder_edit_folder" class='control-label x85'><span class="label label-default">父级目录</span></label>
		<select id="j_form_system_folder_edit_folder" name="pid" data-toggle="selectpicker" data-rule="required">
			<option  value="0">根目录</option>
			<foreach name="list" item="v">
			<option value="{$v.id}" <if condition="$v.id EQ $vo.pid ">selected<else/></if> >
            <switch name="v.level"><case value="0"></case><case value="1">—</case><case value="2">——</case><case value="3">———</case><case value="4">————</case><case value="5">—————</case><case value="6">——————</case><case value="7">———————</case><default /></switch>{$v.name}
            </option>
			</foreach>
		</select>
		</td></tr>

		<tr><td>
		<label class='control-label x85' for="j_form_system_folder_edit_name"><span class="label label-default">文件夹名称</span></label>
		<input  value="{$vo.name}" class="form-control" type="text" id="j_form_system_folder_edit_name" name="name" data-rule="required" msg="请输入名称">
		</td></tr>

		<tr><td>
		<label class='control-label x85' for="j_form_system_folder_edit_sort"><span class="label label-default">排序</span></label>
		<input type="text"  size="6" data-toggle="spinner" data-min="1" data-max="10000" data-step="1" data-rule="required;integer" id="j_form_system_folder_edit_sort" name="sort" value="{$vo['sort']}" >
		</td></tr>

		<tr><td>
		<label class='control-label x85' for="j_form_system_folder_edit_is_del"><span class="label label-default">状态</span></label>
		<select name="is_del" id="j_form_system_folder_edit_is_del" data-toggle="selectpicker" data-rule="required">
			<option value="0">启用</option>
			<option value="1">禁用</option>
		</select>
		</td></tr>

		<tr><td>
		<label class='control-label x85' for="j_form_system_folder_edit_remark"><span class="label label-default">备注</span></label>
		<input class="form-control" type="text" id="j_form_system_folder_edit_remark" name="remark" value="{$vo.remark}">
		</td></tr>

	</tbody>
	</table>

</form>
</div>
<div class="bjui-pageFooter">
<ul>
<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
<li><button type="submit" class="btn-success" data-icon="save">提交</button></li>
</ul>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		set_val("j_form_system_folder_edit_is_del", "{$vo.is_del}");
	});
</script>