<div class="bjui-pageContent tableContent">
    <div class="pageFormContent" style="margin:1px;" data-layout-h="0">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#jxcinformation_view_1" role="tab" data-toggle="tab">品种信息</a></li>
            <li><a href='#jxcinformation_view_2' role='tab' data-toggle='tab'>修改记录</a></li>
        </ul>
        <div class="tab-content">
			<div class="tab-pane fade active in" id="jxcinformation_view_1">
<table class="table table-bordered table-striped table-hover">
<tbody>
<tr><td><label class='control-label x85'>ID:</label>{$Rs.id}</td>
<td><label class='control-label x85'>名称:</label>{$Rs.mi_mc}</td></tr>

<tr><td><label class='control-label x85'>类别:</label>{$Rs.mc_id}</td>
<td><label class='control-label x85'>编号:</label>{$Rs.mi_bh}</td></tr>

<tr><td><label class='control-label x85'>排序:</label>{$Rs.sort}</td>
<td><label class='control-label x85'>状态:</label>{$Rs.status}</td></tr>

<tr><td><label class='control-label x85'>添加用户:</label>{$Rs.uname}</td>
<td><label class='control-label x85'>添加时间:</label>{$Rs.addtime}</td></tr>

<tr><td><label class='control-label x85'>更新用户:</label>{$Rs.uuname}</td>
<td><label class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td></tr>
<tr><td colspan=2><label class='control-label x85'>备注:</label></td></tr>
<tr><td colspan=2>{$Rs.mi_bz|html_out=###}</td></tr>
<tr><td colspan=2>
<!--附件开始-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-paperclip"></i> 附件</h3></div>
                    <div class="panel-body">

    {:W('FileUpload/view',array('add_file'=>$Rs['attid']))}

                    </div>
                </div>
            </div>
        </div>

<!--附件结束-->

</td></tr>
</tbody>
</table>
			</div>
            <div class='tab-pane fade lineh20' id='jxcinformation_view_2'>
            <php>if (strlen($Rs['history']) > 0) {echo html_out($Rs['history']);} else {echo '无修改记录';}</php>
			</div>
		</div>
    </div>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>
