<div class="bjui-pageContent tableContent">
    <form action="" class="pageForm" data-toggle="validate" id="form_shou_edit" name="form_shou_edit">
    <div class="col-md-12">
		<input type="hidden" name="id" value="{$id}">
        <!--2016-06-06 【新增】上传附件参数【开始】-->
        <input type="hidden" name="attid" value="{$attid}">
        <input type="hidden" name="shou_edit_MaxNum" id="shou_edit_MaxNum" value="10" />
        <input type="hidden" name="shou_edit_FileNum" id="shou_edit_FileNum" value="0" />
        <!--2016-06-06 【新增】上传附件参数【结束】-->
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
		   <tr><td><label for='jhid_input' class='control-label x85'>关联合同:</label><input type='text' id='jhid' name='jhid'  size='20' data-toggle='lookup' data-url='__MODULE__/public/htname/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.jhid}' disabled ></td><td><label for='jhname_input' class='control-label x85'>关联合同:</label><input type='text' id='jhname' name='jhname'  size='20' data-toggle='lookup' data-url='__MODULE__/public/htname/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.jhname}' disabled ></td></tr>
<tr><td><label for='bianhao_input' class='control-label x85'>单据编号:</label><input type='text' id='bianhao' name='bianhao'  size='20'   value='{$Rs.bianhao}'  ></td><td><label for='type_input' class='control-label x85'>收款方式:</label><input type='text' id='type' name='type'  size='20' data-toggle='lookup' data-url='__MODULE__/public/sktype/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.type}'  ></td></tr>
<tr><td><label for='jine_input' class='control-label x85'>收款金额:</label><input type='text' id='jine' name='jine' data-rule='required;' size='20'   value='{$Rs.jine}' disabled ></td><td><label for='juid_input' class='control-label x85'>经办人:</label><input type='text' id='juid' name='juid'  size='20' data-toggle='lookup' data-url='__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.juid}'  ></td></tr>
<tr><td><label for='juname_input' class='control-label x85'>经办人:</label><input type='text' id='juname' name='juname'  size='20' data-toggle='lookup' data-url='__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.juname}'  ></td></tr>
<tr><td colspan=2><label for='beizhu_input' class='control-label x85'>备注:</label><textarea name='beizhu'  cols='65' rows='5' >{$Rs.beizhu}</textarea></td></tr>
           </tbody>
          </table>
</div>

          
<!--附件开始-->

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-paperclip"></i> 附件 <span class="font-normal font12">（允许.jpg.jpeg.png.gif.bmp.mpg.rar.zip.txt.doc.docx.xls.xlsx.pdf.ppt.pptx格式，最大30MB，最多10个）</span> </h3></div>
                    <div class="panel-body">

    {:W('FileUpload/edit',array('id'=>'shou_edit','attid'=>$Rs['attid'],'module'=>'Shou'))}

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--附件结束-->


	<div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading" style="height:45px;">
<div class="pull-right">
<button type="button" class="btn-success" data-icon="save" onclick="save_shou_edit();">提交</button>
<button type="button" class="btn-close" data-icon="close">取消</button>
</div>
                </div>
                </div>
            </div>
        </div>
    </div>

</form>
</div>


<script type="text/javascript">

	function save_shou_edit(){
		window.onbeforeunload=null;
		var ishou_edit_FileNum = parseInt($("#shou_edit_FileNum").val(), 10);
		var ishou_edit_MaxNum = parseInt($("#shou_edit_MaxNum").val(), 10);
		if (ishou_edit_FileNum > ishou_edit_MaxNum) {
			alert('上传文件数量最多'+ishou_edit_MaxNum+'个');
			return false;
		}
		sendForm("form_shou_edit", "__URL__/edit/navTabId/{:CONTROLLER_NAME}");
	}
	
	/*上传成功*/
	function shou_edit_upload_success(file, data) {
		var json = $.parseJSON(data)
		$(this).bjuiajax('ajaxDone', json)
		if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
			$('#j_shou_edit_file').val(json.filename).trigger('validate');
			var sLi = '<li id=\"j_shou_edit_file_span-' + json.id.toString() + '\" class="tbody">';
			sLi += '<div style="width: 100%;" class="loading"></div>';
			sLi += '<div class="data">';
			sLi += '<span class="del text-center"><a href="javascript:DeleteFile_id_name_reduce(\'j_shou_edit_file_span-' + json.id.toString() + '\',\'' + json.id + '\',\'<?php echo(getuserid()); ?>\',\'shou_edit_FileNum\')" style="display: inline;" class="link del"><i class="fa fa-remove"></i></a></span>';
			sLi += '<span class="size text-right">' + GetFileSize(json.size) + '</span>';
			sLi += '<span class="auto autocut">' + json.filename + '</span></div></li>';
			$('#j_shou_edit_file_span').html($('#j_shou_edit_file_span').html()+sLi);
			/*上传数量加1*/
			var ishou_edit_FileNum = parseInt($("#shou_edit_FileNum").val(), 10);
			$("#shou_edit_FileNum").val(ishou_edit_FileNum + 1);
		}
	}

</script>